body {
  font-family: sans-serif;
  background: #fff9f2;
  background-color: #262422;
  color: #dcd9cd;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.webcam {
  height: 100vh;
}

#videoNoShow {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  display: none !important;
}
#songinmain {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 10%;
  background: rgba(0, 0, 0, 0);
  padding: 8px;
  overflow: auto;
  box-sizing: border-box;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
  #closet-details {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 15%;
    min-width: 12%;
    height: 100%;
    background: rgba(0, 0, 0, 0.04);
    padding: 8px;
    overflow: auto;
    box-sizing: border-box;
    color: black;
    color: black;
    font-family: 'Fjalla One', sans-serif;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) {
  #closet-details {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 15%;
    min-width: 12%;
    height: 100%;
    background: rgba(0, 0, 0, 0.04);
    padding: 8px;
    overflow: auto;
    box-sizing: border-box;
    color: black;
    color: black;
    font-family: 'Fjalla One', sans-serif;
  }
}

@media only screen and (max-width: 800px) {
  #closet-details {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 15%;
    min-width: 12%;
    height: 100%;
    background: rgba(0, 0, 0, 0.04);
    padding: 8px;
    overflow: auto;
    box-sizing: border-box;
    color: black;
    color: black;
    font-family: 'Fjalla One', sans-serif;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #closet-details {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 200px;
    min-width: 200px;
    height: 100%;
    background: rgba(0, 0, 0, 0.04);
    padding: 8px;
    overflow: auto;
    box-sizing: border-box;
    color: black;
    color: black;
    font-family: 'Fjalla One', sans-serif;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #closet-details {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 200px;
    min-width: 200px;
    height: 100%;
    background: rgba(0, 0, 0, 0.04);
    padding: 8px;
    overflow: auto;
    box-sizing: border-box;
    color: black;
    color: black;
    font-family: 'Fjalla One', sans-serif;
  }
}

#closeth1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#closetp {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.closetpics {
  padding-bottom: 10px;
  left: 0;
  bottom: 0;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  align-items: center;
}

#singlepic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
}

.BeyCollage {
  width: 1000px;
  padding-top: 50px;
  padding-bottom: 10px;
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
  font-size: 100px;
}

.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  padding: 40px;
}

.aboutText {
  /* border: 1px solid black; */
  max-width: 850px;
  font-size: 20px;
  padding: 25px;
  text-align: left;
  justify-content: center;
}

.enterButton {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.button {
  width: 220px;
  height: 70px;
}

.description {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 30px;
}

.namesList {
  text-align: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 10px;
}

.name {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.homePage {
  background: #fff9f2;
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 50px;
  padding-top: 70px;
  font-size: 90px;
}

.intro {
  display: flex;
  text-align: center;
  padding: 50px;
}

.fiveBeysDiv {
  justify-content: center;
}

.fiveBeys {
  max-width: 320px;
  justify-content: center;
}

.description {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 50px;
}

.enterButton {
  display: flex;
  /* text-align: center; */
  justify-content: center;
  /* align-content: center; */
  /* align-items: center; */
}

.namesList {
  /* display: flex; */
  text-align: center;
  background: #faf9fc;
  justify-content: center;
  padding: 50px;
  flex-direction: row;
}

.name {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}
canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

#camerabutton {
  position: fixed;
  bottom: 0;
  left: 46%;
  width: 20%;
  height: 10%;
  background: rgba(0, 0, 0, 0);
  padding: 8px;
  overflow: auto;
  box-sizing: border-box;
}

#webcam {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

div.uppercase {
  text-transform: uppercase;
}
