body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.webcam {
  /* width: 100vw; */
  height: 100vh;
  /* margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 6px; */
}

#videoNoShow {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  display: none !important;
}

#closet-details {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background: rgba(0, 0, 0, 0.04);
  padding: 30px;
  overflow: auto;
  box-sizing: border-box;
  color: #d6c7c7;
  color: #f4c0d7;
  font-family: 'Fjalla One', sans-serif;
}
#closeth1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#closetp {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#closetpics {
  padding-bottom: 10px;
  left: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-items: center;
}

#singlepic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
}
.container {
  text-align: center;
}

.intros {
  padding: 20px;
  background-color: darkblue;
  color: white;
  margin: 10px;
  border-radius: 10px;
}

.list-group {
  padding: 20px;
}

.list-item {
  border: solid 5px black;
  background-color: darkblue;
}

.welcome {
  font-weight: bold;
  font-size: 20px;
}

.designer-intro {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

li.list-group-item {
  background-color: lightblue;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

li > a {
  display: table-cell;
  font-weight: normal;
  font-size: 12px;
  justify-content: center;
}

.list-item > a {
  text-align: center;
}
